################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.opendb
*.suo
*.cache
*.ipch

x64/
